@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$font-light: rgb(102, 102, 102);
$font-dark: rgb(52, 60, 64);

@mixin font-display {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin font-body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Media Query Widths
$phone-only: 500px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$desktop-small: 1280px;

// Use this for media queries within classes
// (no separate media queries)
@mixin breakpoint($size) {
  @if $size == phone-only {
    @media (max-width: $phone-only) { @content; }
  } @else if $size == tablet-portrait {
    @media (max-width: $tablet-portrait) { @content; }
  } @else if $size == tablet-landscape {
    @media (max-width: $tablet-landscape) { @content; }
  } @else if $size == desktop-small {
    @media (max-width: $desktop-small) { @content; }
  }
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  @include font-body;
  @include flex-center;
  text-align: center;
  color: $font-dark;
}

body {
  background-image: url('./img/bg1.jpg');
  background-position: center center;
  background-size: cover;
}

.pdftoolkit {
  padding: 2rem;
  width: 880px;
  height: auto;
  margin: 4rem 0;
  border-radius: 3rem;
  @include flex-center;
  flex-direction: column;
  background-color: white;
  display: grid;
  grid-template:
    'header header header' auto
    'title title title' auto
    '. list .' auto
    '. continue .' auto
    'disclaimer disclaimer disclaimer' auto
    / 1fr 1fr 1fr;
  box-shadow: 0 0 15px rgb(163, 131, 161);
  @include breakpoint(tablet-landscape) {
    width: 700px;
  }
  @include breakpoint(tablet-portrait) {
    width: 450px;
  }
  @include breakpoint(phone-only) {
    width: 250px;
    grid-template:
      'header' auto
      'title' auto
      'list' auto
      'continue' auto
      'disclaimer' auto
      / 100%;
    justify-content: flex-start;
  }
}

.pdftoolkit__header {
  grid-area: header;
  display: grid;
  grid-template:
        'heading description' auto
        / auto auto;
  margin: 0 0 2rem 0;
  @include breakpoint(tablet-portrait) {
    grid-template:
        'heading' auto
        'description' auto
        / 1fr;
  }
}

.pdftoolkit__header__heading {
  grid-area: heading;
  font-size: 3.0rem;
  margin: 0 2rem 0 4rem;
  align-self: center;
  justify-self: flex-start;
  position: relative;
  @include breakpoint(tablet-portrait) {
    align-self: center;
    justify-self: center;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }
  @include breakpoint(phone-only) {
    font-size: 1.85rem;
    margin-left: 3rem;
  }
}

.pdftoolkit__header__heading::before {
  background-image: url('./img/pdf.png');
  background-size: cover;
  content: '';
  position: absolute;
  top: 9px;
  left: -65px;
  width: 50px;
  height: 50px;
  @include breakpoint(phone-only) {
    width: 25px;
    height: 25px;
    left: -30px;
  }
}

.pdftoolkit__header__description {
  grid-area: description;
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
  align-self: center;
  justify-self: center;
  @include breakpoint(tablet-portrait) {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  @include breakpoint(phone-only) {
    font-size: 1.15rem;
  }
}

.pdftoolkit__title {
  grid-area: title;
}

.pdftoolkit__title__heading {
  font-size: 2.0rem;
  margin: 0 2.5rem 2rem 0;
  @include breakpoint(phone-only) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 2rem 0;
  }
}

.pdftoolkit__title__heading__doctopdf,
.pdftoolkit__title__heading__pdftodoc {
  position: relative;
  display: inline-block;
}

.pdftoolkit__title__heading__doctopdf {
  background-image: url('./img/right-arrow.png');
  background-size: cover;
  width: 35px;
  height: 35px;
  top: 7px;
  margin: 0 3rem 0 3.5rem;
  @include breakpoint(phone-only) {
    margin: 0;
  }
}

.pdftoolkit__title__heading__doctopdf::before {
  background-image: url('./img/doc.png');
  background-size: cover;
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: -42px;
}

.pdftoolkit__title__heading__doctopdf::after {
  background-image: url('./img/pdf.png');
  background-size: cover;
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  right: -42px;
}

.pdftoolkit__title__heading__pdftodoc {
  background-image: url('./img/right-arrow.png');
  background-size: cover;
  width: 35px;
  height: 35px;
  top: 7px;
  margin: 0 0 0 3rem;
  @include breakpoint(phone-only) {
    margin: 0;
  }
}

.pdftoolkit__title__heading__pdftodoc::before {
  background-image: url('./img/pdf.png');
  background-size: cover;
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: -42px;
}

.pdftoolkit__title__heading__pdftodoc::after {
  background-image: url('./img/doc.png');
  background-size: cover;
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  right: -42px;
}

.pdftoolkit__list {
  align-self: center;
  justify-self: center;
  grid-area: list;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 2rem 0;
  font-size: 1.5rem;
  color: $font-light;
  @include breakpoint(phone-only) {
    font-size: 1.25rem;
    @include flex-center;
    flex-direction: column;
  }
}

.pdftoolkit__list__item {
  margin: 0 0 1rem 0;
}

.pdftoolkit__continue {
  grid-area: continue;
  padding: 0 0 2rem 0;
}

.pdftoolkit__continue__form__input {
  width: 420px;
  height: 130px;
  background: linear-gradient(#30abdb 0, #0279cd 100%);
  border: 1px solid black;
  box-shadow: 0 5px 0 darkblue;
  border-radius: 2rem;
  @include font-display;
  color: white;
  font-size: 3rem;
  @include breakpoint(phone-only) {
    font-size: 1.25rem;
    width: 100%;
    height: 70px;
  }
}

.pdftoolkit__fineprint {
  grid-area: disclaimer;
  font-size: 0.75rem;
  color: $font-light;
}
